<footer class="container footer my-4">
  <div class="row pt-4">
    <div class="col-12 col-md-8 mx-auto text-center">
      <p><span class="name">Gianfranco Arena</span> <a class="phone" href="tel:+19173598274">(917) 359-8274</a> <a class="email" href="mailto:gian@gfarena.com">gian@gfarena.com</a></p>
    </div>
  </div>
</footer>
