<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>gfarena.com</title>
  <meta name="description" content=""/>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-12 my-4">
      <h1 class="text-white"><a href="/" class="text-white text-decoration-none" >GF.Arena</a></h1>
      <a class="info-link" href="/info.html">info</a>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="project_content">
        <br>
        <br>
        Gianfranco Arena <br>
        gianfrancoarena2003@yahoo.com<br>
        <br>
        Peter Kain <br>
        peterdkain@yahoo.com<br>
        <br>
        <br>
        We are Executive Creative Directors at BBDO New York, currently overseeing Snickers and Mars petcare brands. We
        created the “You’re not you when you’re hungry” campaign for Snickers. It began with the 2010 admeter-winning
        commercial starting Betty White, and has since gone on to win every major award from Cannes Lions to Effies,
        while helping Snickers grow from the #7 to #1 global chocolate bar. Most recently, we won the One Show Penta
        award, honoring long term client-agency relationships. And we picked up or second Super Clio for 2020's “Fix the
        World” Super Bowl campaign.<br>
        <br>
        <br>
        We also work on US and global advertising for Mars petcare brands, including Pedigree’s Dogs on Zoom campaign to
        facilitate dog adoption during quarantine. And during our tenure at BBDO, we have written and overseen award
        winning work for FedEx, Mountain Dew, Twix, and others. <br>
        <br>
        <b>EXPERIENCE</b><br>
        <br>
        BBDO NEW YORK (2004-PRESENT) Snickers, Twix, FedEx, Mountain Dew Brands, Sony, Guinness Brands, Pedigree, Nutro,
        Cesar<br>
        BARTLE BOGLE HEGARTY (1999-2004) Axe, Levi’s, Johnnie Walker, Lipton, Feeding Children Better<br>
        BERLIN CAMERON (1999) Reebok, Coca-Cola<br>
        <br>
        <br>
        <b>EDUCATION</b><br>
        <br>
        GIANFRANCO:<br>
        Syracuse University, School of Visual and Performing Arts. BA, Advertising<br>
        Cooper Union School of Fine Arts<br>
        <br>
        PETER: <br>
        Syracuse University, Newhouse School of Public Communications, BS, Advertising<br>
        <br>
        <br>
        <b>AWARDS &amp; RECOGNITION</b><br>
        <br>
        One Show Penta award<br>
        2015 and 2020 Super Clio<br>
        3x Emmy nominees<br>
        Cannes Lions (Film, Press, Cyber, Effectiveness)<br>
        One Show<br>
        One Show Entertainment<br>
        D&amp;AD<br>
        AICP<br>
        Effies<br>
        Art Directors Club<br>
        Andy Awards<br>
        Kelly Awards<br>
        Mercury Awards<br>
        Clio Awards<br>
        Communication Arts<br>
        <br>
        <directlink id="dl_2860906" link="https://www.arenakain.com/Info"></directlink>
      </div>
    </div>
  </div>
  <div class="row">

    {% for project in data %}
    <div class="col-6 col-md-4 col-lg-3 mb-4">
      <a href=".{{ project.url }}.html">
        <div class="card">
          <img src="{{ project.image }}" class="card-img-top" alt="Fix The World">
          <div class="card-body">
            <h5 class="card-title text-center m-0">{{ project.name }}</h5>
            <p class="card-text text-center">
              {% for tag in project.tags %}
              <a href="filter/{{ tag }}">{{ tag }}</a>{{ ", " if not loop.last else "" }}
              {% endfor %}
            </p>
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
</body>
</html>
