<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>gfarena.com</title>
  <meta name="description" content=""/>
  <link rel="stylesheet" href="https://use.typekit.net/pvg4evr.css">
</head>
<body>
<div class="container">
  <div class="row pt-4 pb-3">
    <div class="col-12">
        <div class="header mb-3">
          <a href="/" class="text-decoration-none">
            <img src="images/logo.png" class="img-fluid" alt="">
          </a>
        </div>
      <a class="info-link" href="/info.html">info</a>
    </div>
  </div>
{% if project.video != "" %}
  <div class="row mb-5">
{#    <div class="col-12 align-content-center d-flex">#}
{#      <iframe src="{{ project.video }}" class="mx-auto" width="900" height="506" frameborder="0" allowfullscreen></iframe>#}
{#    </div>#}
    <div class="col-12 d-flex">
      <div class="ratio ratio-16x9 mx-auto">
        <iframe src="{{ project.video }}" allowfullscreen></iframe>
      </div>
    </div>
  </div>
{% endif %}

{% if project.gallery != "" %}
  <div class="row mb-5">
  <div class="gallery">
  {% for image in project.gallery %}
    <div class="col-12 d-flex"><img src="{{ image.src }}" class="img-fluid mx-auto" alt="{{ image.meta }}"></div>
  {% endfor %}
  </div>
  </div>
{% endif %}
  <div class="row">

    {% for project in data %}
    <div class="col-6 col-md-4 col-lg-3 mb-4">
    <a href=".{{ project.url }}.html">
      <div class="card">
        <img src="{{ project.image }}" class="card-img-top" alt="Fix The World">
        <div class="card-body">
          <h5 class="card-title text-center text-decoration-none m-0">{{ project.name }}</h5>
          <p class="card-text text-center">
            {% for tag in project.tags %}
              <a href="filter/{{ tag }}">{{ tag }}</a>{{ ", " if not loop.last else "" }}
            {% endfor %}
          </p>
        </div>
      </div>
    </a>
    </div>
    {% endfor %}
  </div>
</div>
</body>
</html>
