<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Gianfranco Arena</title>
  <meta name="description" content=""/>
  <link rel="stylesheet" href="https://use.typekit.net/pvg4evr.css">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-MTRN8KY8YW"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-MTRN8KY8YW');
  </script>
</head>
<body>
<div class="container">
  {% include 'header.html.j2' %}
  {% if project.video != "" %}
  <div class="row mb-5">
{#    <div class="col-12 align-content-center d-flex">#}
{#      <iframe src="{{ project.video }}" class="mx-auto" width="900" height="506" frameborder="0" allowfullscreen></iframe>#}
{#    </div>#}
    <div class="col-12 d-flex">
      <div class="ratio ratio-16x9 mx-auto">
        <iframe src="{{ project.video }}" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  {% endif %}

  {% if project.gallery != "" %}
  <div class="row mb-5">
  <div class="gallery">
  {% for image in project.gallery %}
    <div class="col-12 d-flex"><img src="{{ image.src }}" class="img-fluid mx-auto" alt="{{ image.meta }}"></div>
  {% endfor %}
  </div>
  </div>
  {% endif %}
  <div class="row">

    {% for project in data %}
    {% include 'tile.html.j2' %}
    {% endfor %}
  </div>
</div>
</body>
</html>
